<div id="{{id}}">
  <div>{{label}}</div>
  <div class="ambience-node-progress">
    <div id="{{id}}-progress" class="ambience-node-progress-bar"></div>
  </div>
  {{!-- <progress id="{{id}}-progress" class="ambience-node-progress"></progress> --}}
</div>