<li
  class="scene-control pretty-mixer-sidebar-button"
  data-control="{{dataControlId}}"
  title="{{title}}"
>
  <div class="wrapper pretty-mixer-sidebar-icon">
    <i class="fas fa-music"></i>
  </div>
</li>