<div id="playlist-node-{{id}}" class="playlist-node">
  <div class="playlist-node-background">
    <div class="playlist-node-sound-container">
      {{! SoundNode will be injected here }}
    </div>
    <div class="playlist-node-playlist-name">{{playlistName}}</div>
  </div>
</div>