<div id="playlist-details">
  {{! header }}
  <div class="playlist-details-header">
    {{! back-button }}
    <div class="pm-icon" data-button-type="back">
      <i class="fas fa-chevron-left"></i>
    </div>

    <h2 class="playlist-details-header-title">{{title}}</h2>

    <div class="playlist-details-header-configurations">
      {{! add-button}}
      <div class="pm-icon" data-button-type="add">
        <i class="fas fa-plus"></i>
      </div>
      {{! edit-button }}
      <div class="pm-icon" data-button-type="edit">
        <i class="fas fa-ellipsis-vertical"></i>
      </div>
    </div>
  </div>

  {{! body }}
  <div class="playlist-details-body">
    {{! will contain SongInfo elements added by script }}
  </div>
</div>