<div id="pretty-mixer" class="pretty-mixer">
  {{! Global audio controls }}
  <div class="pretty-mixer-global-audio-controls-container">
    {{! Currently playing playlists }}
    <div class="sound-nodes-container-background">
      <div id="pretty-mixer-sound-node-container" class="sound-nodes-container">
        {{! SoundboardSoundNode's will be added here by script }}
      </div>
    </div>

    {{! Controls & song info }}
    <div class="pretty-mixer-global-audio-controls">
      {{! Song info }}
      <div id="song-info-anchor" class="">
      </div>

      {{! Controls }}
      <div class="pretty-mixer-global-audio-controls-button-container">
        <div class="pretty-mixer-global-audio-controls-button">
          <i class="fas fa-shuffle"></i>
        </div>
        <div class="pretty-mixer-global-audio-controls-button">
          <i class="fas fa-backward-step"></i>
        </div>
        <div class="pretty-mixer-global-audio-controls-button">
          <i class="fas fa-play"></i>
        </div>
        {{! todo <i class="fas fa-pause"></i> }}
        <div class="pretty-mixer-global-audio-controls-button">
          <i class="fas fa-forward-step"></i>
        </div>
        <div class="pretty-mixer-global-audio-controls-button">
          <i class="fas fa-repeat"></i>
        </div>
      </div>

      {{! Volume }}
      <div class="pretty-mixer-global-audio-controls-volume-container">
        <div class="pretty-mixer-global-audio-controls-button">
          <i class="fas fa-volume"></i>
        </div>
        {{! volume-bar }}
      </div>
    </div>

    {{! Song progress }}
    <div class="pretty-mixer-global-audio-controls-song-progress-container">
      <input
        type="range"
        id="current-song-progressbar"
        class="pretty-mixer-global-audio-controls-song-progressbar"
        min="0"
        max="{{currentlyPlayingSongDuration}}"
        {{!-- value="{{currentlyPlayingSongProgress}}" --}}
        data-bind="value: currentlyPlayingSongProgress"
      />
      <div class="pretty-mixer-global-audio-controls-song-progress-info">
        <div>currentSong.timeLapsed</div>
        <div>{{currentlyPlayingSongDuration}}</div>
      </div>
    </div>
  </div>
</div>