{{! renamen to PlaylistNode  }}
<div id="song-node-{{id}}" class="song-node">
  <div class="song-node-background">
    <div class="song-node-info">
      <div class="song-node-name">{{songName}}</div>
      <div class="song-node-playlist">{{playlistName}}</div>
    </div>
    <div class="song-node-progress-bar"></div>
  </div>
</div>