<div id="{{id}}-sound-node" class="sound-node">
  <div class="sound-node-progress">
    <div class="sound-node-label">{{label}}</div>
    <div id="{{id}}-sound-node-progress" class="sound-node-progress-bar"></div>
  </div>
</div>