.playlist-node {
  height: 100%;
}

.playlist-node-background {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--color-primary);
  border-radius: 13px;
}

.playlist-node-background .sound-node-progress {
  height: 20px;
}

.playlist-node-background .sound-node {
  max-width: 100px;
}

.playlist-node-sound-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  font-size: medium;
}

.playlist-node-playlist-name {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: small;
  text-overflow: ellipsis;
  white-space: nowrap;
}
