.playlist-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 24.48%;
  background-color: var(--menu-color-secondary);
  border-radius: 20px;
}

.playlist-card-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.playlist-card-buffer {
  width: 100%;
  height: 60px;
  cursor: pointer;
}

.playlist-card-title {
  overflow: hidden;
  font-size: larger;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
}

.playlist-card-icons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
