.song-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: flex-start;
  padding: 5px;
  background-color: var(--background-color-secondary);
  border-radius: 15px;
}

.song-info-name {
  font-size: medium;
}

.song-info-playlist {
  font-size: small;
}
